/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/* MOBILE FIRST DESIGN */

.App {
  text-align: center;
  background-color: rgb(238, 238, 238);
  height: 100vh;
}

/* header adjustments for all views */
.header-home,
.header-register,
.header-login,
.header-userhome,
.header-howto,
.header-about,
.header-logout {
  background-image: linear-gradient(to top right, rgb(25, 110, 138), rgb(53, 135, 137));
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-around;
}

/* all header button settings */
.header-home button,
.header-register button,
.header-login button,
.header-userhome button,
.header-howto button,
.header-about button {
	background: none;
	color: none;
	border: none;
	border-radius: 10px;
	margin: 15px;
	font: inherit;
	cursor: pointer;
	transition: all 0.5s ease 0s;
}

/* all header button settings upon hover */
.header-home button:hover,
.header-register button:hover,
.header-login button:hover,
.header-userhome button:hover,
.header-howto button:hover,
.header-about button:hover {
	background: rgb(233, 231, 231);
	cursor: pointer;
}

/* all text settings within header buttons */
.home-tab,
.register-tab,
.login-tab,
.myaccount-tab,
.howto-tab,
.logout-tab,
.about-tab {
  text-decoration: none;
  color: rgb(233, 231, 231);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

/* all text settings within header buttons upon hover */
.home-tab:hover,
.register-tab:hover,
.login-tab:hover,
.myaccount-tab:hover,
.howto-tab:hover,
.logout-tab:hover,
.about-tab:hover {
  color: rgb(25, 110, 138);
  cursor: pointer;
}

/* miscellaneous texts to match rest of field text */
.register-link-text,
.login-button-text {
	color: black;
}

.about-button {
    background: none;
	color: inherit;
	border: none;
	padding: 10;
	font: inherit;
	cursor: pointer;
 	margin-top: 12px;
}

.about-tab {
  text-decoration: none;
}

.app-footer ul {
	display: flex;
	list-style: none;
}

.userdata-container {
	margin: 30px;
}

.adding-routine-name {
	width: 500px;
	height: 30px;
}

.adding-routine-description {
	margin-top: 10px;
	height: 300px;
	width: 800px;
}

/* make icons into a grid on about page */
.language-icons {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
}

/* make icons in about footer into flex and centered */
.about-link-icons {
	display: flex;
	justify-content: center;
}

.about-link-icons li {
	list-style: none;
	margin: 10px;
}

/* TABLET DESIGN */
@media screen and (min-width: 760px) {

}

/* DESKTOP DESIGN */
@media screen and (min-width: 1200px) {

/* change grid layout of icons to be 4x2 */
.language-icons {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
}